$color-dark: #304555;
$color-light: #f9ebdf;
$color-text: #a3a7a6;

$color-1: rgb(51, 72, 88);
$color-2: #cd595a;
$color-3: #94938f;
$color-4: #a3a7a6;
$color-5: #dbc5b0;
$color-6: rgb(15, 21, 26, 0.9);
$color-7: #ff9900;
$color-8: #f9ebdf;
$color-61: #0f151a;
$color-10: rgb(2, 134, 2);
$color-11: rgb(112, 22, 22);